#container {
  display: flex;
  flex-wrap: wrap;
  width: 960px;
}

/* For creating a responsive square */
/* .square {
  width: 60px;
} */

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

/* Afer hovering */
.hovered {
  background-color: black;
}
