#container {
  display: flex;
  flex-wrap: wrap;
  width: 960px;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

/* Afer hovering */
.hovered {
  background-color: rgb(0 0 0);
}
